* {
    box-sizing: border-box;
}

body {
    width: min(100%, 800px);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    padding: 10px;
    font-size: 18px;
}

.content {
    background-color: rgb(247, 239, 226);
    padding: 10px;
    border: 6px rgb(166, 80, 26);
    border-style: double;
}

.featured-image {
    border: 1px solid black;
    padding: 2px;
    width: min(100%, 500px);
    height: auto;
    display: block;
    margin: 0 auto;
}

figcaption {
    text-align: center;
    font-style: italic;
    padding-top: 5px;
}

.main-heading {
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.main-heading a {
    text-decoration-style: dotted;
    color: rgb(157, 113, 32);
}

.page-heading, .section-heading {
    color: rgb(102, 83, 50);
}

.page-heading {
    text-align: center;
}

.source-info {
    text-align: center;
}