body {
    width: 600px;
    border: 2px solid rgb(187, 50, 50);
    font-family: Arial, Helvetica, sans-serif;
}

.content {
    background-color: rgb(247, 239, 226);
    padding: 10px;
}

.featured-image {
    border: 1px solid black;
    padding: 2px;
}

.main-heading {
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.main-heading a {
    text-decoration-style: dotted;
    color: rgb(157, 113, 32);
}

.page-heading, .section-heading {
    color: rgb(102, 83, 50);
}
